__pycache__/
*.pyc
/LinearRegressionCode/LinearRegression/output

/ScanPyLearn/output/
/ScanPyLearn/cache/
/CourseHomeWork/output/
/PHCode/Mid-term-quiz-Clustering/output/
/PHCode/Mid-term-quiz-Clustering/figures/
/PHCode/Mid-term-quiz-Clustering/cache/
/PHCode/Mid-term-quiz-Clustering/data/GSM/
